{% extends "core/base.html" %}

{% block content %}
<h2 class="mb-4">Dashboard</h2>
<div class="row">
    <div class="col-md-3">
        <div class="card text-white bg-primary mb-3">
            <div class="card-body">
                <h5 class="card-title">Students</h5>
                <p class="card-text display-4">{{ total_students }}</p>
                <a href="{% url 'core:student_list' %}" class="btn btn-light">View All</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card text-white bg-success mb-3">
            <div class="card-body">
                <h5 class="card-title">Courses</h5>
                <p class="card-text display-4">{{ total_courses }}</p>
                <a href="{% url 'core:course_list' %}" class="btn btn-light">View All</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card text-white bg-info mb-3">
            <div class="card-body">
                <h5 class="card-title">Professors</h5>
                <p class="card-text display-4">{{ total_professors }}</p>
                <a href="{% url 'core:professor_list' %}" class="btn btn-light">View All</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card text-white bg-warning mb-3">
            <div class="card-body">
                <h5 class="card-title">Departments</h5>
                <p class="card-text display-4">{{ total_departments }}</p>
                <a href="{% url 'core:department_list' %}" class="btn btn-light">View All</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
